[Unit]
Description=Start vncserver at startup.
After=multi-user.target

[Service]
Type=simple
{% if vnc_display_no is defined %}
Environment=DISPLAY=:{{ vnc_display_no }}
{% endif %}
ExecStart=/usr/bin/vncserver

[Install]
WantedBy=multi-user.target
