// Place your settings in this file to overwrite the default settings
{
	"editor.tabSize": 2,
  "editor.insertSpaces": true,
  "editor.detectIndentation": true,
	"terminal.integrated.fontFamily": "Inconsolata-g for Powerline",
	"explorer.openEditors.visible": 0,
	"standard.options": {
		"ignore": [
			"node_modules/**"
		],
		"config": [
			"airbnb-base"
		],
		"parser": "babel-eslint"
	},
	"workbench.colorTheme": "Dracula",

	// Vim settings

	"vim.enableNeovim": true,
	"vim.leader": "<space>",
	"vim.easymotion": true,
	"vim.incsearch": true,
	"vim.useSystemClipboard": true,
	"vim.useCtrlKeys": true,
	"vim.hlsearch": true,
	"vim.insertModeKeyBindings": [
		{
			"before": [
				"j",
				"j"
			],
			"after": [
				"<Esc>"
			]
		}
	],
	"editor.cursorBlinking": "solid",
	"vim.neovimPath": "/usr/bin/nvim"
}