[Unit]
Description=Start Code-server server at startup
After=syslog.target network.target

[Service]
Type=simple
User={{ user }}
Group={{ user }}

PIDFile=/home/{{ user }}/.code-server/code-server.pid
ExecStart={{ code_server_bin }} --allow-http --password={{ code_server_password }} --port={{ code_server_port }} --data-dir={{ code_server_settings_folder }} {{ code_projects_dir }}
ExecStop=/bin/kill -- $MAINPID

[Install]
WantedBy=multi-user.target