{
  "liveshare.anonymousGuestApproval": "accept",
  "auto-run-command.rules": [
      {
          "condition": "always",
          "command": "liveshare.start",
          "message": "Running a dummy command"
      }
  ]
}
